.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 30vh;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

img {
  width: 150px;
  border-radius: 10px ;
}

.img {
  margin-left: 300px;
  margin-top: 50px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 70px;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 60%;
  margin-top: 100px;
}

.total-amount{
  margin-left: 200px;
  display: block;
  margin-top: 50px;
}

.amount {
  display: flex;
}

#amount {
  width: 30%;
  height: 100%;
  margin-left: 2px;
}

.label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.remove {
  display: block;
  padding-left: 10px ;

}

.error {
  border: 1px solid red;
}