<div class="product-container">
 <a routerLink ="/detail"><img (click)="addToDetails(product)" class="product-image" src="{{ product.url }}" alt="" /></a> 
  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <div class="amount">
    <p>Quantity:</p>
    <select name="amount" class="select-input" id="" [(ngModel)]="product.quantity">
      <option value="0" selected disabled hidden>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
</div>
