.product-image {      
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 70px;        
  border: 1px solid #33B5E5;
  height: 290px;
  object-fit: cover;
} 

.product-container {
  margin-top: 64px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}

img {
  cursor: pointer;
}

#amount {
  margin-bottom: 20px;
  
}

.amount {
  display:flex;
  flex-direction: row;
}