<a routerLink="/" *ngIf="productToShow.length === 0">Back to product list</a>
<div class="details-container" *ngFor="let product of productToShow">
  <div class="img">
    <img src="{{ product.url }}" alt="" />
  </div>
  <div class="detail-item">
    <h1>{{ product.name }}</h1>
    <p>${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
    <a routerLink="/" (click)="clearDetail()" class="back-link">Back to product list</a
    >
  </div>
</div>
