img {
  border-radius: 10px;
  width: 320px;
}

.img {
  margin-left: 300px;
  margin-top: 100px;
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}

.details-container {
  display: flex;
  flex-direction: row;
}

.detail-item {
  margin-top: 250px;
  margin-left: 200px;
}
.back-link {
  margin-top: 10px;
  display: block;
}